<div *ngIf="partOfOrg; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <mat-selection-list [multiple]="false" [(ngModel)]="dbSelected" (ngModelChange)="onNgModelChange($event)">
    <mat-list-option *ngFor="let db of dbs" [value]="db.id">
      {{db.name}} {{db.org}} <a href="{{db.file}}">Download</a>
    </mat-list-option>
  </mat-selection-list>

  <div *ngIf="success">
    Success!
  </div>
  <div>
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <div>
        <input type="file" (change)="onFileSelect($event)"/>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Filename</mat-label>
        <input matInput formControlName="name" placeholder="test.csv">
      </mat-form-field>
      <h4>Basic native select</h4>
      <mat-form-field>
        <mat-label>Visibility</mat-label>
        <select formControlName="visibility" matNativeControl required>
          <option value="public">Public</option>
          <option value="private">Private</option>
        </select>
      </mat-form-field>
      <div>
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>

</ng-template>
<ng-template #elseBlock>You are not approved</ng-template>
