<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>QSAR Solver</h1>
    <span class="menu-spacer"></span>
    <div *ngIf="isLogged; then authBlock else noAuthBlock"></div>
    <ng-template #authBlock>
      <a mat-button *ngIf="companyType === 'theoretical'" [routerLink]="'/dbs'"> Dbs </a>
      <a mat-button *ngIf="companyType === 'theoretical'" [routerLink]="'/qsar'"> Qsar </a>
      <a mat-button [routerLink]="'/assignments'"> Assignments </a>
      <a mat-button (click)="logout()">Logout</a>
    </ng-template>
    <ng-template #noAuthBlock>
      <a mat-button [routerLink]="'/register'"> Create Account </a>
      <a mat-button [routerLink]="'/login'"> Login </a>
    </ng-template>
    <div *ngIf="isLeader && companyType === 'theoretical'">
      <a mat-button [routerLink]="'/users'"> User management </a>
      <a mat-button [routerLink]="'/db_manager'"> Db management </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
