<div class="divElement"><h2 *ngIf="failed">User not found</h2>
  <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="john123">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Test123"/>
    </mat-form-field>

    <input type="submit" mat-raised-button color="primary" value="Submit"/>
  </form>
</div>
